:root{

    /* Brand */

    --stomas-blue:#1F6FB2;
    --stomas-dark:#16385F;
    --stomas-light:#EAF4FC;

    /* Neutral */

    --white:#ffffff;

    --gray-50:#f9fafb;
    --gray-100:#f3f4f6;
    --gray-200:#e5e7eb;
    --gray-300:#d1d5db;
    --gray-500:#6b7280;
    --gray-700:#374151;
    --gray-900:#111827;

}
