<div class="st-brand">

    <h1 class="st-brand-title">

        STOMAS Studio

    </h1>

    <div class="st-brand-subtitle">

        Signature Generator

    </div>

    <div class="st-brand-version">

        Version 0.1 RC1

    </div>

</div>

<div class="st-panel">

    <h3>👤 Person</h3>

    <label>Navn</label>
    <input id="name">

    <label>Titel 1</label>
    <input id="title1">

    <label>Titel 2</label>
    <input id="title2">

    <label>Titel 3</label>
    <input id="title3">

<label for="company1">Firma 1</label>
<input
    id="company1"
    type="text"
    value="Dansk Landsforening for Hals- og Mundhuleopererede">

<label for="company2">Firma 2</label>
<input
    id="company2"
    type="text"
    value="Region Syddanmark">

<label for="company3">Firma 3</label>
<input
    id="company3"
    type="text"
    value="STOMAS">

</div>

<div class="st-panel">

    <h3>📞 Kontakt</h3>

    <label>Email</label>
    <input id="email">

    <label>Telefon</label>
    <input id="phone">

    <label>Website</label>
    <input id="website">

</div>

<div class="st-panel">

</div>
